@import 'filters.css'; /* Carousel */
.carousel {
  height: var(--carousel-height);
  position: relative;
  overflow: hidden;
}

.carousel__caption {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  height: 70px;
  background-color: var(--color-black-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carousel__price {
  position: absolute;
  right: 0;
  bottom: 100%;
  display: inline-block;
  padding: 8px;
  min-width: 72px;
  text-align: center;
  background-color: var(--color-pink);
  color: var(--color-body);
  font-family: var(--font-primary), sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.2;
}

.carousel__title {
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  font-style: italic;
  line-height: 1.2;
  width: 100%;
  padding: 0 20px;
}

.carousel__button {
  background-color: var(--color-yellow);
  width: 72px;
  flex: 1 0 72px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s all;
}

.carousel__button:hover,
.carousel__button:active {
  background-color: var(--color-yellow-dark);
}

.carousel__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease;
}

.carousel__slide {
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}

.carousel__arrow {
  position: absolute;
  z-index: 3;
  bottom: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.carousel__arrow_right {
  right: 0;
}

.carousel__arrow_left {
  left: 0;
}

.carousel__arrow img,
.carousel__arrow svg {
  max-width: 20px;
}

.carousel__img {
  min-width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 767px) {
  .carousel {
    padding-bottom: 57px;
  }

  .carousel__caption {
    left: 0;
    height: 57px;
  }

  .carousel__arrow {
    bottom: 57px;
  }

  .carousel__arrow_right img,
  .carousel__arrow_right svg {
    margin-top: 0;
  }

  .carousel__arrow_left img,
  .carousel__arrow_left svg {
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .carousel__img {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
  }
}


/* RibbonMenu */
.ribbon {
  margin-bottom: 38px;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.ribbon__inner {
  padding-bottom: 15px;
  margin-bottom: -15px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.ribbon__arrow {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 120px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.ribbon__arrow.ribbon__arrow_left {
  left: 0;
  background: linear-gradient(
    90deg,
    var(--color-black) 25%,
    var(--color-black) 61%,
    rgba(31, 30, 25, 0) 100%
  );
  padding-left: 14px;
}

.ribbon__arrow.ribbon__arrow_left img {
  transform: rotate(180deg);
}

.ribbon__arrow.ribbon__arrow_right {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(31, 30, 25, 0) 25%,
    var(--color-black) 61%,
    var(--color-black) 100%
  );
  text-align: right;
  align-items: flex-end;
  padding-right: 14px;
}

.ribbon__arrow.ribbon__arrow_visible {
  display: flex;
}

.ribbon__arrow img {
  width: 8px;
}

.ribbon__arrow:hover img {
  opacity: 0.8;
}

.ribbon__item {
  color: var(--color-body);
  background: var(--color-black-dark);
  padding: 13px 38px;
  font-size: 21px;
  font-style: italic;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-left: 1px solid var(--color-black);
  cursor: pointer;
}

.ribbon__item:first-child {
  border-left: none;
}

.ribbon__item.ribbon__item_active,
.ribbon__item:hover {
  background-color: var(--color-black-light);
}

@media all and (max-width: 767px) {
  .ribbon {
    margin-bottom: 0;
  }

  .ribbon__item {
    font-size: 18px;
    padding: 13px;
  }

  .ribbon__arrow {
    display: none;
  }

  .ribbon__arrow.ribbon__arrow_visible {
    display: none;
  }
}


/* StepSlider */
.slider {
  position: relative;
  background-color: var(--color-black-dark);
  margin: 0 16px;
  width: 330px;
  height: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.slider__progress {
  height: 8px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(90deg, #f3e273 0%, #dd6428 52%, #d31c34 100%);
  transform: translate(0, -50%);
}

.slider_dragging .slider__thumb {
  cursor: grabbing;
}

.slider__thumb {
  background-color: var(--color-white);
  border-radius: 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  margin-left: -10px;
  transform: translate(0, -50%);
  cursor: grab;
}

.slider__value {
  color: var(--color-body);
  font-size: 12px;
  font-weight: 700;
  font-family: var(--font-primary);
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  text-align: center;
  width: 100%;
  pointer-events: none;
  cursor: default;
}

.slider__steps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  right: 0;
}

.slider__steps > span {
  background-color: var(--color-black-dark);
  display: inline-flex;
  width: 2px;
  height: 9px;
  margin-left: -1px;
  transition: 0.2s height;
}

.slider__steps > span:first-child,
.slider__steps > span:last-child {
  margin-left: 0;
}

.slider__steps > .slider__step-active {
  background-color: var(--color-black-light);
  height: 14px;
}


/* ProductCard */
.card {
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.2s all;
  cursor: pointer;
}

.card:hover,
.card:hover .card__body {
  background-color: #3b3a31;
}

.card:hover .card__top {
  background-color: #4e4d41;
}

.card__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--color-black-middle);
}

.card__image {
  max-width: calc(100% - 100px);
  width: 100%;
}

.card__price {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 8px;
  min-width: 72px;
  text-align: center;
  background-color: var(--color-pink);
  color: var(--color-body);
  font-family: var(--font-primary), sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.2;
}

.card__body {
  height: 70px;
  background-color: var(--color-black-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  font-style: italic;
  line-height: 1.2;
  width: 100%;
}

.card__button {
  background-color: var(--color-yellow);
  width: 72px;
  flex: 1 0 72px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card__button:hover,
.card__button:active {
  background-color: var(--color-yellow-dark);
}

@media all and (max-width: 767px) {
  .card {
    margin-bottom: 16px;
    height: auto;
  }
}

/* ProductsGrid */
.products-grid .products-grid__inner {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
}

.products-grid.is-loading .products-grid__inner {
  display: none;
}

@media all and (max-width: 767px) {
  .products-grid .products-grid__inner {
    display: block;
    padding: 16px;
    background-color: var(--color-black-light);
  }
}

/*@import '../product-grid-skeleton/index.css';*/


/* Modal */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  display: block;
}

.is-modal-open {
  overflow: hidden;
}

.modal__overlay {
  height: 100%;
  width: 100%;
  background-color: #918f79;
  opacity: 0.8;
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 994px;
  width: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
}

.modal__header {
  position: relative;
  padding: 30px 80px;
}

.modal__body {
  padding: 0 80px 64px;
}

.modal__body-inner {
  background-color: var(--color-black-dark);
  text-align: center;
  padding: 40px 33px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  color: var(--color-body);
  font-family: var(--font-primary), sans-serif;
  font-style: italic;
}

.modal__body-inner img {
  max-width: 100%;
  margin-top: 20px;
}

.modal__buttons {
  margin-top: 48px;
  text-align: center;
}

.modal__title {
  font-size: 36px;
  line-height: 1.8;
  font-family: var(--font-secondary), sans-serif;
  font-weight: 400;
  color: var(--color-yellow);
  text-shadow: 3px 3px var(--color-pink);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.8;
}

@media all and (max-width: 767px) {
  .modal__body {
    padding: 0 0 45px;
    flex-grow: 1;
  }

  .modal__inner {
    top: 0;
    left: 0;
    transform: none;
    min-height: 100vh;
  }

  .modal__title {
    font-size: 28px;
    margin: 0;
  }
}

/* CartIcon */
.products-grid .products-grid__inner {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
}

.products-grid.is-loading .products-grid__inner {
  display: none;
}

@media all and (max-width: 767px) {
  .products-grid .products-grid__inner {
    display: block;
    padding: 16px;
    background-color: var(--color-black-light);
  }
}

.products-grid .products-grid__inner {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
}

.products-grid.is-loading .products-grid__inner {
  display: none;
}

@media all and (max-width: 767px) {
  .products-grid .products-grid__inner {
    display: block;
    padding: 16px;
    background-color: var(--color-black-light);
  }
}

.products-grid .products-grid__skeleton {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
}

.products-grid .products-grid__skeleton {
  display: none;
}

.products-grid.is-loading .products-grid__skeleton {
  display: grid;
  pointer-events: none;
}

.products-grid.is-loading .products-grid__skeleton-item {
  position: relative;
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  transition: 0.2s all;
}

.products-grid.is-loading .products-grid__skeleton-item:before {
  content: "";
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--color-black-middle);
}

.products-grid.is-loading .products-grid__skeleton-item:after {
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -32px;
  margin-left: -32px;
  top: 50%;
  left: 50%;
  background: url(/assets/images/icons/loader-icon.svg) center no-repeat;
  background-size: cover;
  animation: loadingSpinner 1s infinite linear;
}





/* Cart */
.cart-icon {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  width: 57px;
  height: 63px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.cart-icon.shake {
  animation: cartshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  transform-origin: top right;
}

.cart-icon__inner {
  background: url("/assets/images/icons/cart-icon.svg") center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 3px;
}

.cart-icon_visible {
  display: block;
}

.cart-icon__count {
  font-size: 26px;
  line-height: 1.1;
  font-weight: 900;
  color: var(--color-pink);
  margin-top: 16px;
}

.cart-icon__price {
  font-size: 11px;
  line-height: 1.1;
  font-weight: 500;
  color: var(--color-black);
  margin: 0;
}

@keyframes cartshake {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  45% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  92% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media all and (max-width: 767px) {
  .cart-icon {
    position: fixed;
    top: 15px;
    right: 10px;
    transform: none;
    z-index: 95;
  }

  .cart-icon:before {
    content: "";
    position: absolute;
    top: -15px;
    right: -10px;
    border: 55px solid transparent;
    border-right-color: var(--color-pink);
    border-top-color: var(--color-pink);
    z-index: 1;
  }

  .cart-icon__inner {
    position: relative;
    z-index: 2;
  }
}

.cart-buttons {
  padding: 48px 80px 0;
  text-align: center;
}

.cart-buttons__button {
  padding-right: 54px !important;
}

.cart-buttons__button:after {
  content: "";
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translate(0, -50%);
  background: url("/assets/images/icons/angle-sm-icon.svg") center no-repeat;
  background-size: cover;
  width: 10px;
  height: 18px;
}

.cart-buttons__button.is-loading:after {
  position: absolute;
  top: 22px;
  right: 16px;
}

.cart-buttons__info {
  padding: 11px 14px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-body);
  font-family: var(--font-primary), sans-serif;
  background-color: var(--color-pink);
}

.cart-buttons__info-text {
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.cart-buttons__info-price {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.cart-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 125px;
  padding: 24px;
}

.cart-counter__button {
  cursor: pointer;
  display: inline-block;
  max-width: 28px;
}

.cart-counter__count {
  display: inline-block;
  padding: 0 14px;
  font-family: var(--font-primary), sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.2;
  color: var(--color-body);
}
.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: var(--color-black-dark);
}

.cart-product > * {
  flex-grow: 1;
}

.cart-product__img {
  max-width: 92px;
  overflow: hidden;
  background-color: var(--color-black-middle);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-product__img > img {
  max-width: 100%;
  padding: 0 8px;
}

.cart-product__price {
  max-width: 135px;
  width: 100%;
  text-align: right;
  font-family: var(--font-primary), sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.2;
  color: var(--color-yellow);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.cart-product__title {
  padding: 24px;
  font-family: var(--font-primary), sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.5;
  color: var(--color-body);
  white-space: normal;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.cart-product__info {
  display: flex;
  flex-direction: row;
}

.cart-product__price-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 260px;
}
.cart-form {
  padding: 20px 27px 32px;
  background-color: var(--color-black-dark);
}

.cart-form__title {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  font-family: var(--font-primary), sans-serif;
  font-style: italic;
  color: var(--color-body);
  margin: 0 0 25px;
  text-align: center;
}

.cart-form__group+.cart-form__group {
  margin-top: 16px;
}

.cart-form__group.cart-form__group_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;
}

.cart-form__input {
  height: 48px;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: var(--color-white);
  padding: 11px 16px;
  color: var(--color-black);
  font-family: var(--font-primary), sans-serif;
  font-style: italic;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  width: 100%;
  transition: 0.2s box-shadow;
}

.cart-form__input:focus {
  box-shadow: 0 5px 0 0 var(--color-pink);
}

.cart-form__input::placeholder {
  color: var(--color-grey);
}

@media all and (max-width: 767px) {
  .cart-form {
    background-color: transparent;
    padding: 24px;
  }

  .cart-form__group.cart-form__group_row {
    display: block;
  }

  .cart-form__group.cart-form__group_row>.cart-form__input {
    margin-top: 16px;
  }

  .cart-form__group.cart-form__group_row>.cart-form__input:first-child {
    margin-top: 0;
  }
}
@media all and (max-width: 767px) {
  .cart-product {
    align-items: unset;
  }

  .cart-product__price-wrap {
    width: 100%;
  }

  .cart-product__info {
    flex-direction: column;
    padding: 16px 24px;
  }

  .cart-product__title {
    padding: 0 0 16px;
  }

  .cart-product__price {
    padding: 0 0 0 16px;
  }

  .cart-product__img {
    max-width: 120px;
  }

  .counter-counter {
    padding: 0;
  }

  .cart-buttons {
    padding: 32px 24px 0;
  }
}


